<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Trainer details</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            width="100%"
            cellspacing="0"
            id="dataTable"
          >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fullname</th>
                <th scope="col">Course name</th>
              </tr>
            </thead>
            <tbody>
              <% trainers.forEach(function(trainer) { %>
              <tr>
                <td><%= trainer.trainerId %></td>
                <td><%= trainer.trainer.fullname %></td>
                <td><%= trainer.course.name %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Trainee details</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            width="100%"
            cellspacing="0"
            id="dataTable1"
          >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fullname</th>
                <th scope="col">Course name</th>
              </tr>
            </thead>
            <tbody>
              <% trainees.forEach(function(trainee) { %>
              <tr>
                <td><%= trainee.traineeId %></td>
                <td><%= trainee.trainee.fullname %></td>
                <td><%= trainee.course.name %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>  
        </div>
      </div>
    </div>
  </div>