<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
  </head>
</head>
<body>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Training Staff account
        </h6>
      </div>
      <div class="card-body">
        <a href="/admin/createStaff">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fas fa-plus-circle"></i> Training Staff account
          </button>
        </a>
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">username</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">View</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% staffAccounts.forEach(function(account) { %>
              <tr>
                <th scope="row"><%= account.id %></th>
                <td><%= account.username %></td>
                <td><%= account.createdAt %></td>
                <td><%= account.updatedAt %></td>
                
                <td>
                  <div>
                    <a href="/admin/viewAccount?id=<%= account.id %>">
                      <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-user-edit"></i> View
                      </button>
                    </a>
                  </div>
                </td>
                <td>
                  <div>
                    <a href="">
                      <button type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-user-edit"></i> Update
                      </button>
                    </a>
                  </div>
                </td>
                <td>
                  <div>
                    <a href="">
                      <button type="button" class="btn btn-danger btn-sm">
                        <i class="fas fa-user-minus"></i> Delete
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Trainer accounts
        </h6>
      </div>
      <div class="card-body">
        <a href="/admin/createTrainer">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fas fa-plus-circle"></i> Trainer account
          </button>
        </a>
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">username</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% trainerAccounts.forEach(function(account) { %>
              <tr>
                <th scope="row"><%= account.id %></th>
                <td><%= account.username %></td>
                <td><%= account.createdAt %></td>
                <td><%= account.updatedAt %></td>
  
                <td>
                  <div>
                    <a href="">
                      <button type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-user-edit"></i> Update
                      </button>
                    </a>
                  </div>
                  <div>
                    <a href="">
                      <button type="button" class="btn btn-secondary btn-sm">
                        <i class="fas fa-user-minus"></i> Delete
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>