<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Your Profile</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">age</th>
                <th scope="col">email</th>
                <th scope="col">date of birth</th>
                <th scope="col">education</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= traineeCourses.trainee.fullname %></td>
                <td><%= traineeCourses.trainee.age %></td>
                <td><%= traineeCourses.trainee.email %></td>
                <td><%= traineeCourses.trainee.dateOfBirth %></td>
                <td><%= traineeCourses.trainee.education %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>